@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Marck+Script&family=Satisfy&display=swap');
* {
    margin: 0;
    background-color: black;
    color: white;
}
body {
      background-color: #ffffff;
      font-family: 'Raleway', sans-serif;
      margin-top: 3rem;
      margin-bottom: 2rem;
      margin-left: 5%;
      margin-right: 5%;
}

header > img {
      display: block;
      margin: auto;
}
nav ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      list-style: none;
      padding: 1em 14em 1em 14em;
      /*border: 1px solid blue;*/
}
nav li {
      font-family: 'Gruppo', cursive;
      font-size: 1.25em;
      flex: 1 1 100px;
      text-align: center;
      margin: 0.5em 0.5em 0.5em 0.5em;
      text-shadow: 
      0 0 1px rgb(0, 0, 0),
      0 0 1px rgb(0, 0, 0),
      0 0 1px rgb(0, 0, 0),
      0 0 2px rgb(162, 250, 0),
      0 0 5px rgb(145, 255, 0),
      0 0 5px rgb(252, 252, 252);
}
nav li a {
      text-decoration: none;
}
nav li :hover {
      text-shadow: 
      0 0 3px rgb(99, 253, 0),
      0 0 7px rgb(99, 253, 0),
      0 0 9px rgb(99, 253, 0),
      0 0 14px rgb(99, 253, 0),
      0 0 20px rgb(99, 253, 0),
      0 0 20px rgb(99, 253, 0);
      
}
.grid-container {
      display: grid;
      grid-template-rows: 1fr auto;
      grid-template-columns: 1fr repeat(2, auto);
      grid-gap: 10px;
    }
.row1 {
      padding: 1rem;
      text-align:justify;
      text-align-last: center;
      text-indent: 2rem;
      font-size: 1.5rem;
      font-family: 'Marck Script', cursive;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      text-shadow: 
      0 0 1px rgb(0, 0, 0),
      0 0 1px rgb(0, 0, 0),
      0 0 1px rgb(0, 0, 0),
      0 0 2px rgb(162, 250, 0),
      0 0 3px rgb(145, 255, 0);
}   
.row2 {
      
      padding: 2rem;
      grid-row: 2 / 3;
      grid-column: 1 / 4;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
}

.row2 > .imageC {
      text-align: center;
      padding: 0.5rem;


}
.row2 .imageC:hover {
      
      border: #cccbcb solid 1px;
      border-radius: 10px;
      box-shadow: 0 0 .2rem #a8a7a7,
            0 0 .2rem #c2c1c1,
            0 0 2rem #535353,
            0 0 0.8rem #535353,
            0 0 2.8rem #535353,
            inset 0 0 1.3rem #535353; 
}
.row2 > .imageC > img{
      text-align: center;
      max-width: 60%;
      max-height: 60%;
}
.row2 > .imageC > div{
      font-family: 'Marck Script', cursive;
      font-size: 1.25rem;
      max-width: 70%;
      max-height: 70%;
      margin: auto;
      margin-top: 1rem;
      padding: 0.5rem;
      text-align: center;
}

@media (max-width: 1024px) {
      nav ul {
            padding: 1em 4em 1em 4em;
      }
      nav li {
            flex: 1 1 0px;
            margin: 0em 1.25em 0em 1.25em;
      }
      .row2 > .imageC > img{
            max-width: 90%;
            max-height: 90%;
      }
}
@media (max-width: 768px) {
            .row2 {
              grid-template-columns: 1fr;
            }
            .row2 > .imageC > img{
                  max-width: 100%;
                  max-height: 100%;
            }
  }
@media (max-width: 576px) {
      nav ul {
            display: block;
            padding: 0.5em;
      }
      nav li {
            /*border:1px solid #ffffff;*/
            margin: 0.75em;
      }  
  }
